.header {
    font-family: Roboto;
    color: darkgrey;
    margin-top: 2px;
    margin-left: 16px;
    margin-bottom: 4px;
}

.log {
    width: 100%;
    min-height: 60px;
    max-height: 400px;
    margin-bottom: 25px;
    border-width: medium;
    border-style: dotted;
    border-color: lightgrey;
    overflow: scroll;
}

.log-info {
    font-size: 12px;
    margin-left: 10px;
    color: rgb(190, 190, 190);
}

/* .log:hover {
    border-color: darkgrey;
} */