.page-container {
    display: flex;
    box-sizing: border-box;
    width: 99%;
    margin-left: 0.5%;
}

.router-outlet {
    z-index: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: #efefff;
}