<button mat-fab 
        extended 
        draggable="true" 
        color="color" 
        [matTooltip]="tooltip" 
        (mouseenter)="processMouseEnter($event)" 
        (mouseleave)="processMouseLeave($event)" 
        (dragstart)="processDragEvent($event)">
    @switch (filetype) {
        @case ('json') {
            <mat-icon>data_object</mat-icon>
        }
        @case ('pnml') {
            <mat-icon>code</mat-icon>
        }
        @case ('sav') {
            <mat-icon>description</mat-icon>
        }
        @case ('txt') {
            <mat-icon>title</mat-icon>
        }
        @default {
            <mat-icon>question_mark</mat-icon>
        }
    }
    {{label}}
</button>