.flexRowAlignCenterCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

.red {
    color: red;
}