<div class="flexRowAlignCenterCenter">
    <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
        <h1>I <span class="red">❤</span> Petri Nets</h1>
    </a>
</div>
<h2>Sound : <i>firing sequence simulation for soundness verification</i> - by <br/>Alexander Reuter</h2>
<!-- TO BE CHANGED -- remove section (starting here) -->
<div style="display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center;">
    <br/><br/>
    <span style="max-width: 1080px; 
                 text-indent: 48px hanging;
                 /* font-family: Roboto; */">
        <u>Note for students at Fernuniversität in Hagen</u> : 
        <br/>
        This tool was created as a part of my <b>bachelor's thesis</b>, 
        which aims to evaluate whether tools like this one are useful for learning about workflow nets. 
        Therefore, the work is <b>inherently dependent on user feedback</b>. 
        So, if you're so inclined, please consider filling out the 
        <a href="https://forms.cloud.microsoft/r/HM1wTSPKcZ"
           style="font-weight: bold; 
                  text-decoration: underline dotted; 
                  color: rgb(0, 200, 255);">evaluation form</a>. 
        <!-- <br/> -->
        In any case, thank you for checking out my project.
    </span>
</div>
<!-- TO BE CHANGED -- remove section (ending here) -->