.canvas {
    width: 100%;
    height: 600px;
    border-width: medium;
    border-style: dotted;
}

.canvas.default {
    border-color: lightgrey;
}

.canvas.error {
    border-color: rgb(255,0,0);
}

.canvas.success {
    border-color: rgb(0, 225, 0);
}