.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.checkbox {
    margin-right: 10px;
}

.file-selector {
    display: none;
}

.mat-accent.mat-mdc-checkbox {
    --mdc-checkbox-selected-checkmark-color: #ffffff;
    --mdc-checkbox-selected-icon-color: #343dff;
    --mdc-checkbox-selected-hover-icon-color: #343dff;
    --mdc-checkbox-selected-focus-icon-color: #343dff;
    --mdc-checkbox-selected-pressed-icon-color: #343dff;
    --mdc-checkbox-selected-hover-state-layer-color: #343dff;
    --mdc-checkbox-selected-focus-state-layer-color: #343dff;
    --mdc-checkbox-selected-pressed-state-layer-color: #343dff;
    --mdc-checkbox-unselected-pressed-state-layer-color: #343dff;
    --mdc-checkbox-disabled-selected-checkmark-color: #ffffff;
    --mdc-checkbox-disabled-selected-icon-color: #a0a5e7;
    --mat-checkbox-disabled-label-color: #727888;
    --mat-checkbox-label-text-color: #1a1b1f;
    --mat-checkbox-label-text-size: 16px;
}

.mat-accent.mat-mdc-checkbox.disable-overwrite {
    --mdc-checkbox-disabled-selected-checkmark-color: #ffffff;
    --mdc-checkbox-disabled-selected-icon-color: #343dff;
    --mat-checkbox-disabled-label-color: #1a1b1f;
}

.mat-accent.mat-mdc-checkbox.warning {
    --mdc-checkbox-selected-icon-color: #000000;
    --mdc-checkbox-selected-hover-icon-color: #ff0000;
    --mdc-checkbox-selected-focus-icon-color: #ff0000;
    --mdc-checkbox-selected-focus-state-layer-color: #ff0000;
    --mdc-checkbox-selected-pressed-state-layer-color: #ff0000;
    --mdc-checkbox-unselected-hover-state-layer-color: #ff0000;
    --mdc-checkbox-unselected-hover-icon-color: #ff0000;
}

.slider {
    width: 160px;
}

.slider-container {
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.slider-container-warning {
    width: 240px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.tether {
    width: 265px;
    text-indent: 45px;
}