<div class="help-page">
    <h2>Info</h2>
    <div class="margin">
        <p style="margin-bottom:0;"><span class="snd">Sound</span> is a tool for simulating and visualizing firing sequences within workflow nets to support users in verifying the nets conformance to the soundness property as defined by Wil M. P. van der Aalst.</p>
        <p style="margin-top:0;"></p>
        <br/>
        <p style="margin-top:0;">It is of utmost importance to note that this tool will never verify that a given petri net is sound. Instead, it will only ever verify that a given net is not sound, specifically when a net marking is reached which does not conform to the criteria of the soundness property.</p>
        <br/>
        <b>Main Features</b>
        <ul>
            <li>interactive net visualization</li>
            <li>testing workflow net requirements</li>
            <li>manual firing of individual transitions</li>
            <li>automated execution of random firing sequences</li>
            <li>replaying entries from a log of completed firing sequences</li>
            <li>checking the conformance of a marking to the soundness property</li>
        </ul>
    </div>
    <br/>
</div>